# This directory contains SSH keys (id_rsa / id_rsa.pub)
# They are automatically linked to `/root/.ssh/` on Docker dev-container
# Of course we understand that sharing SSH keys on GitHubit is dangerous, but
# we employ this way to make the hands-on process more efficient
# If you want to generate your own keys, please run `ssh-keygen -t rsa -N "" -f .ssh/id_rsa`
*
